<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="martinsApplicationConfigurationManagement" type="Martins.ConfigurationManagement.ConfigurationManagerSectionHandler, Martins.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=e9ed78c287a2fd3c"/>
		<section name="martinsApplication" type="Martins.ConfigurationManagement.MartinsApplicationsSectionHandler, Martins.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=e9ed78c287a2fd3c"/>
	</configSections>
	<martinsApplicationConfigurationManagement defaultSection="martinsApplication">
		<configSection name="martinsApplication">
			<configCache enabled="true" refresh="* * * * *"/>
			<configProvider assembly="Martins.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=e9ed78c287a2fd3c" type="Martins.ConfigurationManagement.Storage.XmlFileStorage" signed="false" refreshOnChange="true" encrypted="false" path="..\..\Servicos\Martins.Web.Services.AcoesComerciais\bin\ApplicationConfig.xml"/>
		</configSection>
	</martinsApplicationConfigurationManagement>
	<system.web>
		<compilation defaultLanguage="vb" debug="true">
			<assemblies>
			
			<add assembly="CrystalDecisions.CrystalReports.Engine, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=9.2.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies>
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="../Martins.Web.UI.ControleAcesso.Logon/Windows/Logon.aspx" protection="All" requireSSL="false" timeout="30" name="martinsAuth" path="/" slidingExpiration="true"/>
		</authentication>
		<!--
		<authorization>
			<allow users="?"/>
			<allow users="*"/>
		</authorization> 
-->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR" uiCulture="pt-BR"/>
		<httpModules>
			<add type="Martins.Security.Helper.Web.MartinsSecurityHttpModule,  Martins.Security.Helper,Version=1.0.0.0,Culture=neutral,PublicKeyToken=e9ed78c287a2fd3c" name="MartinsSecurityHttpModule"/>
		</httpModules>
	</system.web>
	<appSettings>
		<add key="Martins.Web.UI.AcoesComerciais.wsAcoesComerciais.AcoesComerciais" value="http://localhost/Martins.Web.Services.AcoesComerciais/AcoesComerciais.asmx"/>
		<add key="Martins.Web.UI.AcoesComerciais.wsCobrancaBancaria.CobrancaBancaria" value="http://localhost/Martins.Web.Services.Administracao.CobrancaBancaria/CobrancaBancaria.asmx"/>
		<add key="Martins.Web.UI.AcoesComerciais.wsUsuario.Usuario" value="http://localhost/Martins.Web.Services.Usuario/Usuario.asmx"/>
		<add key="Martins.Web.UI.AcoesComerciais.wsFluxoDeCancelamentoDeAcordos.FluxoDeCancelamentoDeAcordos" value="http://localhost/Martins.Web.Services.AcoesComerciais/FluxoDeCancelamentoDeAcordos.asmx"/>
		<!--<add key="Martins.Web.UI.AcoesComerciais.UsuarioCompraTeste" value="31195"/>-->
		<add key="Martins.Web.UI.AcoesComerciais.UsuarioTeste" value="31195"/> 
		<add key="Martins.Web.UI.AcoesComerciais.UsuarioCompraTeste" value="1299"/>
		<add key="codigoUsuarioTeste" value="1299"/>
		<!-- [0=Não | 1=Sim ]-->
		<add key="ModoTeste" value="1"/>
		<add key="Martins.Web.UI.AcoesComerciais.QuantidadeNiveisCaminhoRaiz" value="4"/>
		<add key="Martins.Web.UI.AcoesComerciais.PageSize" value="200"/>
	</appSettings>
</configuration>
