<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    <appSettings>


        <!-- API CONFIGURATION -->
        <add key="urlApiToken" value="https://ssd.martins.com.br/oauth/access-token" />
        <add key="authUser" value="e43f0be8-4449-3710-8ae4-d8f7e48d3ccf" />
        <add key="authPassword" value="fc54b2e7-c6ae-302e-ae8a-dfd03bee686a" />

                <add key="urlApiTokenAutenticacao" value="https://ssd.martins.com.br/oauth/access-token" />
                <add key="authUserAutenticacao" value="e43f0be8-4449-3710-8ae4-d8f7e48d3ccf" />
                <add key="authPasswordAutenticacao" value="fc54b2e7-c6ae-302e-ae8a-dfd03bee686a"  />


        <!-- DESENVOLVIMENTO -->
        <!--add key="urlApi" value="http://localhost/Marketing.GestaoVerbasAPI/" /-->

        <!-- HOMOLOGACAO -->
        <!--<add key="urlApi" value="https://appsnethml.martins.com.br/MARKETING.GESTAOVERBASAPI/" />-->
        
        <!-- PRODUCAO-->
        <add key="urlApi" value="https://appsnet.martins.com.br/MARKETING.GESTAOVERBASAPI/" />
     
    </appSettings>


</configuration>
