<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="martinsApplicationConfigurationManagement" type= "Martins.ConfigurationManagement.ConfigurationManagerSectionHandler, Martins.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=e9ed78c287a2fd3c"/>
		<section name="martinsApplication" type="Martins.ConfigurationManagement.MartinsApplicationsSectionHandler, Martins.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=e9ed78c287a2fd3c"/>
	</configSections>

	<martinsApplicationConfigurationManagement defaultSection="martinsApplication">
		<configSection name="martinsApplication">
			<configCache enabled="true" refresh="* * * * *" />
				<configProvider 		
					assembly="Martins.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=e9ed78c287a2fd3c" 
					type="Martins.ConfigurationManagement.Storage.XmlFileStorage"
					signed="false" 
					refreshOnChange="true"
					encrypted="false"
					path="C:\Framework\Servicos\Martins.Web.Services.AcoesComerciais\bin\ApplicationConfig.xml"/> 
					<!--  Alterar o caminho do arquivo para o diretório correto da aplicação -->
		</configSection>
	</martinsApplicationConfigurationManagement>
	    
	<system.web>
		<compilation defaultLanguage="vb" debug="true" />
		<customErrors mode="RemoteOnly" />
		<authentication mode="None" />
		<authorization>
			<allow users="*" /> 
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
			cookieless="false" timeout="20" />
			<globalization 
				requestEncoding="utf-8" 
				responseEncoding="utf-8" 
				culture="pt-BR" 
				uiCulture="pt-BR"
			/>		
	</system.web>
	
</configuration>