
@using Marketing.GestaoVerbas.ViewModel
@model NegociacaoVerbaViewModel

    <div class="modal" id="modalJustificaReprovacao" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary" style="color:white;">
                    <h5 class="modal-title" id="myModalLabel">Justificativa</h5>
                </div>
                <div class="modal-body bg-light">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.DesJustificativaReprovacao)
                            @Html.TextAreaFor(model => model.DesJustificativaReprovacao, new { @class = "form-control", id = "txtDesJustificativaReprovacao", rows = "4" } )
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" title="Salvar" class="btn btn-default" style="cursor: pointer;" onclick="jsGACReprovarNegociacao(@Model.CodNegociacaoVerba)">Salvar</button>
                        <button type="button" title="Fechar" class="btn btn-default" style="cursor: pointer;background-color:orange" onclick="jsCloseModalJustificativaReprovacao()">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
