@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500);
.containerfab {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0px;
}

.buttons {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
          transition: all .1s ease-out;  
}

.buttons:active, 
.buttons:focus, 
.buttons:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
}

.buttons:not(:last-child) {
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.container:hover 
.buttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons at differnt speeds */

.buttons:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
  background-image: url('Images/approve.png');
  background-size: contain;
}

/* Show tooltip content on hover */

[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

[tooltip]:hover:before, [tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.loadingGif {
    background: url(images/logo_gif.gif) no-repeat center;
    position: fixed;
    top: 30%;
    width: 100%;
    height: 150px;
    z-index: 99999;
}

.loadingFundoPreto {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000000;
	opacity: 0.60;
	-moz-opacity: 0.60;
	filter: alpha(opacity=60);
	z-index: 999;
	top: 0px;
	left: 0px;
}

.loadingFundoBranco {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #FFF;
	opacity: 0.90;
	-moz-opacity: 0.90;
	filter: alpha(opacity=90);
	z-index: 999;
	top: 0px;
	left: 0px;
}

.fixed-nav-content {
    position: fixed;
    top: 100px;
    bottom: 1px;
    left: 0;
    right: 0;
    overflow: auto;
}
